.Footer {
  background-color: black;
  padding: 75px 0;
  div {
    color: whitesmoke;
    display: inline-block;
    font-size: xx-large;
    margin: 10px;
    &:hover {
      color: gold;
    }
  }
}
